{% extends 'base.html.twig' %}

{% block title %}Piluliers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<body class="bg-gray-100 dark:bg-gray-900 min-h-screen flex flex-col">

    <main class="flex-grow w-full px-4 sm:px-6 lg:px-8 py-8 bg-gray-100 dark:bg-black">
        <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-12 text-center">
            Liste des Piluliers
        </h1>
        
        <div class="overflow-x-auto">
            <table class="table-auto w-full bg-white shadow-md rounded-lg overflow-hidden dark:bg-gray-800 dark:text-white">
                <thead class="bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-300">
                    <tr>
                        <th class="px-4 py-2 text-left">Id</th>
                        <th class="px-4 py-2 text-left">Activation Bouton d'Urgence</th>
                        <th class="px-4 py-2 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pilulier in piluliers %}
                        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                            <td class="border px-4 py-2">{{ pilulier.id }}</td>
                            <td class="border px-4 py-2">
                                {{ pilulier.activationBoutonUrgence ? 'Yes' : 'No' }}
                            </td>
                            <td class="border px-4 py-2">
                                <a href="{{ path('app_pilulier_show', {'id': pilulier.id}) }}" class="text-blue-500 hover:text-blue-700 mr-2">
                                    Voir
                                </a>
                                <a href="{{ path('app_pilulier_edit', {'id': pilulier.id}) }}" class="text-green-500 hover:text-green-700">
                                    Modifier
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="border px-4 py-2 text-center text-gray-700 dark:text-gray-300">
                                Aucun pilulier trouvé
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-6 text-center">
            <a href="{{ path('app_pilulier_new') }}" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">
                Créer un nouveau pilulier
            </a>
        </div>
    </main>

</body>
{% endblock %}