{% extends 'base.html.twig' %}

{% block title %}Pilulier{% endblock %}

{% block body %}
    <h1>Pilulier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pilulier.id }}</td>
            </tr>
            <tr>
                <th>ActivationBoutonUrgence</th>
                <td>{{ pilulier.activationBoutonUrgence ? 'Yes' : 'No' }}</td>
                
            </tr>
            <tr>
                <th><button class="btn"><a href="{{ path('app_pilulier_command', {'id': pilulier.id}) }}">Commander le Pillulier</a></button></th>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('app_pilulier_index') }}">back to list</a>

    <a href="{{ path('app_pilulier_edit', {'id': pilulier.id}) }}">edit</a>

    {{ include('pilulier/_delete_form.html.twig') }}
{% endblock %}
