{% extends 'base.html.twig' %}

{% block title %}Traitement index{% endblock %}

{% block body %}
    <h1>Traitement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdTraitement</th>
                <th>Description</th>
                <th>Posologie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for traitement in traitements %}
            <tr>
                <td>{{ traitement.id }}</td>
                <td>{{ traitement.idTraitement }}</td>
                <td>{{ traitement.description }}</td>
                <td>{{ traitement.posologie }}</td>
                <td>
                    <a href="{{ path('app_traitement_show', {'id': traitement.id}) }}">show</a>
                    <a href="{{ path('app_traitement_edit', {'id': traitement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_traitement_new') }}">Create new</a>
{% endblock %}
