{% extends 'base.html.twig' %}

{% block title %}Ordonnance index{% endblock %}

{% block body %}
    <h1>Ordonnance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdOrdonnance</th>
                <th>Posologie</th>
                <th>Frequence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordonnance in ordonnances %}
            <tr>
                <td>{{ ordonnance.id }}</td>
                <td>{{ ordonnance.idOrdonnance }}</td>
                <td>{{ ordonnance.posologie }}</td>
                <td>{{ ordonnance.frequence }}</td>
                <td>
                    <a href="{{ path('app_ordonnance_show', {'id': ordonnance.id}) }}">show</a>
                    <a href="{{ path('app_ordonnance_edit', {'id': ordonnance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ordonnance_new') }}">Create new</a>
{% endblock %}
