{% extends 'base.html.twig' %}

{% block title %}Ordonnance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block body %}
    <h1>Ordonnance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordonnance.id }}</td>
            </tr>
            <tr>
                <th>IdOrdonnance</th>
                <td>{{ ordonnance.idOrdonnance }}</td>
            </tr>
            <tr>
                <th>Posologie</th>
                <td>{{ ordonnance.posologie }}</td>
            </tr>
            <tr>
                <th>Frequence</th>
                <td>{{ ordonnance.frequence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ordonnance_index') }}">back to list</a>

    <a href="{{ path('app_ordonnance_edit', {'id': ordonnance.id}) }}">edit</a>

    {{ include('ordonnance/_delete_form.html.twig') }}
{% endblock %}
